* {
	box-sizing: border-box;
}

body{
	background-size: 100vw 100 vh;
	background-image: url(fond.jpg);
	font-family: sans-serif;
}

.formulario{
	width: 450px;
	max-width: 100%;
	margin: auto;
	margin-top: 30px;
	padding: 20px;
	background: rgba(0,0,0,0.4);
	box-sizing: border-box;
	border-radius: 7px;
}

.formTitulo{
	text-align: center;
	margin-top:0;
	color: rgba(0,0,0.7);
}

.formL{
	display: block;
	width:100%;
	font-size: 1.3em;
}


.FormI, textarea {
	width: 100%;
	margin-bottom: 20px;
	padding: 7px;
	box-sizing: border-box;
	font-size: 17px;
}

textarea{
	min-width: 100px;
	max-width: 200px;
	max-width: 100%;
}

.boton{
	background: rgba(0,0,0.7);
	color: black;
	padding: 10px 20px;
	cursor: pointer;
}


@media (max-width: 480px){
	form{
		width: 100%;
	}
}